.normal {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal}
body {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; text-align: left}
.groter { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: normal}
.noggroter { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: normal }
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; color: #0099CC}
.kleiner { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal }
.titel { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #CC9966}
